<h4>Available Bulbs</h4>
<p-table [value]="bulbs">
  <ng-template pTemplate="header">
    <tr>
      <th>Control</th>
      <th>Name</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bulb>
    <tr>
      <td>{{bulb.name}}</td>
      <td><p-button label="Add to Scene" (click)="addToScene(bulb)" [disabled]="scene !== undefined && scene.bulbStates[bulb.id]"></p-button></td>
    </tr>
  </ng-template>
</p-table>

Scene
<p-table *ngIf="scene" [value]="scene.bulbStates | keyvalue">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Configure</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-keyValuePair>
    <tr>
      <td>{{idToName(keyValuePair.key)}}</td>
      <td><bulb-state-display [bulbState]="keyValuePair.value"></bulb-state-display></td>
      <td><p-checkbox value="{{keyValuePair.key}}" name="control-checkbox" [(ngModel)]="selectedBulbIds"></p-checkbox></td>
      <td><p-button label="Delete" (click)="removeBulb(keyValuePair.key)"></p-button></td>
    </tr>
  </ng-template>
</p-table>

Config
<bulb-state *ngIf="scene" (onChange)="onBulbStateChange($event)"></bulb-state>
